:root {
    --primary-clr-200: hsl(220, 15%, 55%);
    --primary-clr-400: hsl(218, 44%, 22%);
    --primary: hsl(212, 45%, 89%);
}

body {
    background-color: var(--primary);
}

.grid_center {
    display: grid;
    place-content: center;
    min-height: 100vh;
    min-height: 100dvh;
}

.qr_card {
    max-width: 300px;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 1rem 1rem 2.5rem 1rem;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
}

.qr_card img {
    width: 100%;
    border-radius: .725rem;
}

.qr_card h1 {
    color: var(--primary-clr-400);

}

.qr_card p {
    color: var(--primary-clr-200);
    padding: 0 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
